services:
    -
        class: Keepsuit\LaravelTemporal\PHPStan\TemporalActivityProxyExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Keepsuit\LaravelTemporal\PHPStan\TemporalWorkflowProxyExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Keepsuit\LaravelTemporal\PHPStan\TemporalChildWorkflowProxyExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
    -
        class: Keepsuit\LaravelTemporal\PHPStan\TemporalWorkflowContextInterfaceExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Keepsuit\LaravelTemporal\PHPStan\TemporalWorkflowClientInterfaceExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension

parameters:
    stubFiles:
        - stubs/phpstan/ActivityProxy.stub
        - stubs/phpstan/ChildWorkflowProxy.stub
