includes:
    - extension.neon
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false

    excludePaths:
        - src/Integrations/LaravelData/TemporalSerializableCastAndTransformer.php

    ignoreErrors:
        - identifier: trait.unused
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - identifier: larastan.noEnvCallsOutsideOfConfig
          path: config/*
